body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #d40000;
    height: 100%;
}

.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
}

.pentagon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;
}

.pentagon {
    position: relative;
    width: 80vw; /* Adjust the width as a percentage of the viewport width */
    height: 80vw; /* Keep height proportional to width */
    max-width: 400px; /* Limit maximum width */
    max-height: 400px; /* Limit maximum height */
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    overflow: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Responsive grid columns */
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr)); /* Responsive grid rows */
    width: 100%;
    height: 100%;
    gap: 2px; /* Optional, for spacing between grid items */
}

.grid-item {
    background-size: cover;
    background-position: center;
    width: 103%;
    height: 103%;
}

/* Text container styling */
.text-container {
    text-align: center;
    margin-top: 20px;
}

h1 {
    font-size: 5vw; /* Font size as a percentage of viewport width */
    margin: 0;
}

h2 {
    font-size: 2.5vw; /* Font size as a percentage of viewport width */
    margin: 0;
}

/* Mobile specific styles */
@media (max-width: 600px) {
    .pentagon {
        width: 90vw;
        height: 90vw;
    }
}

/* Tablet specific styles */
@media (max-width: 900px) and (min-width: 601px) {
    .pentagon {
        width: 60vw;
        height: 60vw;
    }
    h1 {
        font-size: 4vw;
    }
    h2 {
        font-size: 2vw;
    }
}

/* Large screen styles */
@media (min-width: 1200px) {
    .pentagon {
        width: 70vw;
        height: 70vw;
    }
    h1 {
        font-size: 4rem; /* Fixed size for very large screens */
    }
    h2 {
        font-size: 2rem; /* Fixed size for very large screens */
    }
}
